@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Rock+Salt&display=swap');


body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.home-title {
  font-family: 'Rock Salt', 'Roboto', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.book,
.join {
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

.msg {
  background-color: #6f7364;
  line-height: 1.5em;
  padding: 35px;
}

#logo_link {
  padding-top: 5px;
}

nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

.icon {
  padding-top: 10px;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}